$primary-color: #6600CC;
$secondary-color: #CC3333;
$thirty-color: #FFFFFF;

ion-title {
  font-size: 1.5rem;
  background: $primary-color;
  color: $thirty-color;
}

ion-footer {
  background: $secondary-color !important;
}

ion-content {
  .nav_modules {
    display: flex;
    justify-content: center;
    min-height: 50%;

    ion-row {
      margin-top: 0 !important;
    }
  }
}